[2016-03-06 16:20] TheInitializer commented on #116
Everything's fixed now, closing

[2016-03-06 16:20] #116 closed

[2016-03-06 16:24] TheInitializer opened #184 "Css y u no work"
https://elementalcode.herokuapp.com/projects/project/8

[2016-03-06 16:30] matthewr6 commented on #181
Chrome is best

[2016-03-06 16:31] matthewr6 commented on #184
share it please

[2016-03-06 16:51] TheInitializer commented on #184
It is shared

[2016-03-06 16:52] TheInitializer commented on #181
IKR?

[2016-03-06 17:12] matthewr6 commented on #184
http://prntscr.com/abyjo8

[2016-03-06 17:12] matthewr6 commented on #184
shared it from the admin

[2016-03-06 17:12] matthewr6 commented on #184
k you have to do `href` not `src` just like in real HTML

[2016-03-06 17:12] matthewr6 commented on #181
Yeah!

[2016-03-06 17:46] TheInitializer commented on #184
Oh whoops I didn't see the href so I assumed it was src

[2016-03-06 19:12] matthewr6 commented on #184
idk why we have `rel` there lol

[2016-03-06 22:47] ghost commented on #181
Lol. This fixes all cross-browser compatibility issues. http://codepen.io/balticllama/pen/jqWbRW

[2016-03-06 23:04] matthewr6 commented on #181
Love it.  Let's do it.

[2016-03-07 00:44] TheInitializer commented on #181
Ok, let's do it :D

[2016-03-07 00:58] matthewr6 commented on #181
Lolno

[2016-03-07 01:42] TheInitializer commented on #23
we need https://github.com/usablica/intro.js

[2016-03-07 01:45] matthewr6 commented on #23
+1

[2016-03-07 01:48] TheInitializer commented on #23
No jQuery in this one :dancer:

[2016-03-07 01:49] TheInitializer commented on #23
Oh wow lol, I tried typing :D and it came out as :dancer:
:dancer:  is the new :package: :P

[2016-03-07 14:11] PolyEdge commented on #181
Yay u used coral

[2016-03-07 14:18] PolyEdge commented on #183
That's going to be some extreme migrations for all the accounts registered now :package:

[2016-03-07 14:29] matthewr6 commented on #23
what o.o

[2016-03-07 14:29] matthewr6 commented on #183
It's pretty close already so it should be fine

[2016-03-07 15:07] PolyEdge commented on #23
Shift Semicolon D Return = :dancer:

[2016-03-07 16:52] liam4 commented on #23
o_O :dash:

[2016-03-07 21:28] TheInitializer commented on #23
@Dylan5797 enter*

[2016-03-07 21:57] matthewr6 commented on #23
reentry
IN A GIANT BALL OF FIRE

[2016-03-07 22:22] PolyEdge commented on #23
Boom

[2016-03-12 20:40] #57 closed

[2016-03-12 20:40] #184 closed

[2016-03-12 20:40] #183 closed

[2016-03-12 20:41] matthewr6 commented on #127
still have yet to do this... @ElementalCode/programmers who wants to do this

[2016-03-12 20:41] #60 closed

[2016-03-12 20:41] matthewr6 commented on #171
I think @Dylan5797 has finished this, but reopen this if I'm wrong.

[2016-03-12 20:41] #171 closed

[2016-03-12 20:42] #119 closed

[2016-03-12 20:42] #101 closed

[2016-03-12 20:45] matthewr6 commented on #170
@ElementalCode/programmers status?

[2016-03-12 20:50] matthewr6 commented on #181
@Dylan5797 please move the images from your domain into the staticfiles

[2016-03-12 20:53] matthewr6 commented on #50
@ElementalCode/programmers ok the actual coding part is done

[2016-03-12 22:33] TheInitializer commented on #50
(mostly)

[2016-03-12 22:34] TheInitializer commented on #50
(the _backend_ is pretty much done)

[2016-03-12 22:35] TheInitializer commented on #170
do we have a 404 design?

[2016-03-12 22:36] matthewr6 commented on #170
idk, find one or make one

[2016-03-12 22:36] matthewr6 commented on #50
same with the core editor functionality

[2016-03-12 22:39] TheInitializer commented on #50
pretty much but we need more blocks

[2016-03-12 22:41] towerofnix commented on #50
many many more blocks

[2016-03-12 22:41] TheInitializer commented on #127
what exactly do we want to do?

[2016-03-12 22:46] BookOwl commented on #127
I'll work on it.

[2016-03-12 23:00] matthewr6 commented on #50
add them!

[2016-03-12 23:10] matthewr6 commented on #127
Thanks

[2016-03-13 01:53] PolyEdge commented on #181
but i did

[2016-03-13 01:54] PolyEdge commented on #181
the fix was in the invisible menu fix branch that i pushed

[2016-03-13 02:04] matthewr6 commented on #181
ok the other images too

[2016-03-13 02:30] PolyEdge commented on #181
wut other images?

[2016-03-13 02:32] PolyEdge commented on #181
http://prntscr.com/aek2mi

[2016-03-13 03:08] matthewr6 commented on #181
http://prntscr.com/aekbzv

[2016-03-13 03:15] matthewr6 commented on #181
actually disregard that those should be fine

[2016-03-13 03:15] #181 closed

[2016-03-13 03:26] PolyEdge commented on #181
We don't need that icon anyway, I copied that directly from CodePen so that's why.

[2016-03-13 03:27] matthewr6 commented on #181
Yeah I figured once I actually looked :P

[2016-03-13 03:27] PolyEdge commented on #181
lel

[2016-03-13 03:27] matthewr6 commented on #170
@Rumanti you still doing this?

[2016-03-13 03:27] PolyEdge commented on #181
Offtopic: does this work for you? https://scratch.mit.edu/projects/92555937/

[2016-03-13 03:27] matthewr6 commented on #181
You could do the 404 page... want me to assign it to you?

[2016-03-13 03:29] PolyEdge commented on #181
Ok, doing it.

[2016-03-13 03:29] PolyEdge commented on #181
And I see the request you sent in my server log ^.^

[2016-03-13 03:29] matthewr6 commented on #181
Your project works for me

[2016-03-13 03:30] PolyEdge commented on #181
Thanks for testing!

[2016-03-13 03:31] matthewr6 commented on #181
np

[2016-03-13 03:33] matthewr6 commented on #176
@Tymewalk how goes it?

[2016-03-13 03:34] matthewr6 commented on #23
@Airhogs777 I think you volunteered to do this on the forum thread

[2016-03-13 03:34] #175 closed

[2016-03-13 03:43] PolyEdge commented on #181
Sorry, I might take a while (got a new laptop and have to install django, flat, ruby, sass, git, etc.)

[2016-03-13 03:48] matthewr6 commented on #181
Cool, what type?

[2016-03-13 03:54] PolyEdge commented on #181
Asus
16GB RAM
Intel i7 6700HQ 3.50Ghz
1TB hard drive
Backlit keyboard
Windows 10
WiFi 802.11ac
Bluetooth 3.0
15.5 inch across screen

Perfect for mass data-crunching and wireless webapps (and lego mindstorms nxt)

Too bad Windows 10 wrecked the preinstalled drivers.

[2016-03-13 03:55] matthewr6 commented on #181
:fuelpump:
jealous

have fun reinstalling everything though lol

[2016-03-13 03:56] PolyEdge commented on #181
I had to pay for it myself

I'm broke :money_with_wings:

[2016-03-13 03:57] matthewr6 commented on #181
oh lol, how much did it cost?

[2016-03-13 03:57] PolyEdge commented on #181
$1500

[2016-03-13 03:58] PolyEdge commented on #181
tax+shipping included

[2016-03-13 03:58] PolyEdge commented on #181
because of the low Canadian dollar

[2016-03-13 04:10] PolyEdge commented on #181
`</offtopic>`
http://codepen.io/Dylan5797/pen/GZpyVN

[2016-03-13 04:27] matthewr6 commented on #181
I like it.  Center the header, and maybe add some sort of image?

[2016-03-13 04:30] PolyEdge commented on #181
But it won't match the rest of the site.

Tomorrow. I'm on mobile.

[2016-03-13 04:44] PolyEdge commented on #128
I'd say it's fine.
I think you have a different definition of readable code @an-OK-squirrel

[2016-03-13 12:58] liam4 opened #188 "Should div really be in text?"
How often is it actually used for text, in comparison to sectioning content? We have an entire category for sections so why not use it?

[2016-03-13 13:00] liam4 opened #189 "Strange text input shape"
I'm not sure I like this...

![strange text input](https://cloud.githubusercontent.com/assets/9948030/13728803/51a3e142-e902-11e5-888b-b1133d530f1e.png)

Perhaps have the border radius be much, much smaller, so that we don't have the text "outside" the input at the top?

[2016-03-13 13:10] PullJosh commented on #189
I'm too lazy to make a commit, but if you set `.script-input` to have padding of `2px 7px` and border-radius of `10px`, things look nice. :)

[2016-03-13 14:17] Dylan5797 opened #191 "Should 404.html and other error code pages be at the base directory"
Should 404.html be at base server directory (not at repo dir, but like
https://elementalcode.herokuapp.com/404.html

or something like
https://elementalcode.herokuapp.com/static/error-codes/404.html

Or should it go in templates?

[2016-03-13 17:39] matthewr6 commented on #191
Anywhere in a `/templates/` dir

[2016-03-13 17:39] #191 closed

[2016-03-13 17:41] matthewr6 commented on #188
sure

[2016-03-13 17:41] matthewr6 commented on #181
Or maybe make it bigger, idk

[2016-03-13 18:11] TheInitializer commented on #170
![codelet404](https://cloud.githubusercontent.com/assets/6720845/13730430/6184f31c-e925-11e5-8ed9-23de95275da7.png)
for inspiration, here's the 404 page of a code-sharing site I made a while back

[2016-03-13 20:01] mrjacobbloom commented on #23
yes I did haha

[2016-03-13 20:03] matthewr6 commented on #23
so basically go crazy with it I guess

[2016-03-13 21:22] TheInitializer commented on #23
usablica/intro.js

[2016-03-13 21:23] BookOwl opened #192 "I can't run the website locally"
When I follow the instructions in the wiki, I get a "no module named flat" error.

[2016-03-13 21:40] matthewr6 commented on #192
pip install django-flat-theme

[2016-03-13 21:45] BookOwl commented on #192
OK, that should be added to the wiki.

[2016-03-13 21:48] matthewr6 commented on #192
oops
also done

[2016-03-13 21:48] #192 closed

[2016-03-13 21:51] BookOwl commented on #192
Now I'm getting no module named rest_framework. Why don't we just say run `pip install -r requirements.txt`?

[2016-03-13 21:52] BookOwl commented on #192
After installing djangorestframework, I was finally able to run it.

[2016-03-13 21:54] matthewr6 commented on #192
I'm sure there was a reason but I can't remember what it was

[2016-03-13 21:58] BookOwl commented on #192
Maybe because of this:

[code]

[2016-03-13 22:28] matthewr6 commented on #192
Yeah, typical Windows.
http://www.stickpeople.com/projects/python/win-psycopg/

[2016-03-13 22:32] Firedrake969 opened #193 "I want to add something"
What should I add

[2016-03-13 22:33] matthewr6 commented on #127
@BookOwl

[2016-03-13 22:36] BookOwl commented on #127
@Firedrake969 what?

[2016-03-13 22:36] matthewr6 commented on #127
How's it going?
(super bored rn so just going through like every issue)

[2016-03-13 22:39] BookOwl commented on #127
Good. I got the server running, and I have a couple ideas on how to make it easier to know how to delete blocks. I just need the source of the trashcan images

[2016-03-13 22:39] matthewr6 commented on #127
oh yeah I just talked to you on another issue didn't I
e.e

[2016-03-13 22:40] matthewr6 commented on #127
https://github.com/ElementalCode/elemental/tree/master/apps/projects/static/img

[2016-03-13 22:52] towerofnix commented on #192
TYPICAL WINDOWS LOLOL WINDOWS IS SUCH A DERP COMPOOTER PROGRAMMING LANGIGE WHY ARE U UISNG IT???  LOL LOL OLOL LOL.

:package:

_typical SO response_

[2016-03-13 22:57] BookOwl commented on #127
@Firedrake969 I meant is there an SVG of the trashcan image?

[2016-03-13 22:59] matthewr6 commented on #192
and
NEEDS MOAR JQUERY

[2016-03-13 22:59] matthewr6 commented on #127
nope

[2016-03-13 22:59] matthewr6 commented on #127
idk who made it

[2016-03-13 23:01] matthewr6 commented on #127
ohwait @PullJosh

[2016-03-13 23:24] #193 closed

[2016-03-13 23:50] PolyEdge commented on #191
kay

[2016-03-13 23:52] towerofnix commented on #193
Good idea!

[2016-03-13 23:55] PolyEdge commented on #170
http://codepen.io/Dylan5797/pen/GZpyVN

[2016-03-13 23:57] PolyEdge commented on #193
Add elemental forums

[2016-03-13 23:57] PolyEdge commented on #193
but no djangobb pls

[2016-03-14 00:07] matthewr6 commented on #193
mmmmm
then what
I don't want to make a whole new Django forum system :P

[2016-03-14 00:08] matthewr6 commented on #170
I like it

[2016-03-14 00:18] Firedrake969 opened #196 "reCAPTCHA?"
Thoughts on adding it?

[2016-03-14 00:20] BookOwl commented on #170
Looks good!

[2016-03-14 00:20] BookOwl commented on #196
If it is only for sign up, sure.

[2016-03-14 00:21] matthewr6 commented on #196
Yeah.

[2016-03-14 00:22] BookOwl commented on #127
Would you guys be ok putting some text up above the trash can saying "Drag block here to delete them"?

[2016-03-14 00:28] matthewr6 commented on #127
Sure!

[2016-03-14 00:31] PullJosh commented on #50
@Firedrake969 Says it's time for promo materials... What do I need to make?

[2016-03-14 00:32] liam4 opened #197 "Block help"
I think we should make the MDN page for a block appear when you context-menu -> help it.

[2016-03-14 00:33] matthewr6 commented on #197
iframe or open in new tab?

[2016-03-14 00:34] towerofnix commented on #197
New tab I was thinking.

[2016-03-14 00:38] Firedrake969 opened #198 "Upgrade to Django 1.9"
I'll get around to this sometime

[2016-03-14 00:48] towerofnix commented on #198
Add planning?

[2016-03-14 00:49] matthewr6 commented on #196
Done

[2016-03-14 00:49] #196 closed

[2016-03-14 00:51] liam4 opened #200 "Why lower-case the category names?"
In Elemental:

![text, media, sections, tables, forms, CSS](https://cloud.githubusercontent.com/assets/9948030/13732611/7ac99c2a-e965-11e5-939e-592de2926790.png)

(ignore my new categories)

In Scratch:

![Motion, Looks, Sound, Pen, Data, Events, Control, Sensing, Operators, More Blocks](https://cloud.githubusercontent.com/assets/9948030/13732615/936114d4-e965-11e5-98a4-58ea8326e362.png)

Personal

[2016-03-14 00:53] matthewr6 commented on #200
@PullJosh

[2016-03-14 00:54] towerofnix commented on #196
Implemented in #199 FYI.

[2016-03-14 00:58] liam4 opened #201 "Why have angle brackets around body but no other elements?"
Just wondering..

![<body>, h1, </body>](https://cloud.githubusercontent.com/assets/9948030/13732677/95d342d6-e966-11e5-8b15-7014f443313b.png)

@PullJosh ping.

[2016-03-14 01:16] mrjacobbloom commented on #23
live demo, lemme know if you have any feedback before I try to figure out pull requests: https://intro-airhogs777.c9users.io/elemental/index.html?tutorial=true

[2016-03-14 01:19] towerofnix commented on #23
Looks pretty cool!

It glitches out if I've previously got the palette scrolled or if I press enter when I'm not supposed to. It'll also completely close the tutorial if I press escape - could it be possible to restore the tutorial maybe?

[2016-03-14 01:24] mrjacobbloom commented on #23
Yes the scrolling issues are something I've been struggling with for hours :package: -- that's why I decided to give it its own URL where it runs immediately, it makes it harder for the user to screw it up haha. As for restoring the tutorial, it shouldn't be too hard to track your place in case you accidentally exit

[2016-03-14 02:29] matthewr6 commented on #201
I vote remove them

[2016-03-14 12:43] BookOwl commented on #201
And remove them from the doctype, too.

[2016-03-14 13:38] towerofnix commented on #201
Along with the exclamation point, i.e. `<!DOCTYPE html>` -> `DOCTYPE html`, maybe?

[2016-03-14 13:41] an-OK-squirrel commented on #201
yeah, i'd say remove the !

[2016-03-14 19:00] TheInitializer commented on #170
some sites have a searchbox on the 404 page, that might be a good idea. Searching is really easy to do in django

[2016-03-14 19:03] TheInitializer commented on #23
Looks great! Quick question: why is the default text still breadfish.gif?

[2016-03-14 19:31] PullJosh commented on #201
For doctype declaration, I'd say just have it say `document`

[2016-03-14 20:52] mrjacobbloom commented on #23
@liam4 I think I fixed the scroll issues and removed keyboard commands entirely (except enter, I can't figure out how to get rid of it, I think it's a tabindex thing that needs to be there for accessibility)

[2016-03-14 21:02] mrjacobbloom commented on #23
oh wait, in the OP @Firedrake969 said we should have a bunch of 'em. I'll start working on a system to load tutorials more on-demand-like.

[2016-03-14 21:53] BookOwl commented on #127
@ElementalCode/programmers @ElementalCode/page-design What font are we using for the editor?

[2016-03-14 23:00] PolyEdge commented on #127
idk, I'm not affiliated with editor design

[2016-03-14 23:06] matthewr6 commented on #170
@TheInitializer add that

[2016-03-14 23:06] matthewr6 commented on #127
idk, look in the CSS files

[2016-03-14 23:07] matthewr6 commented on #23
Because breadfish.gif is amazing

[2016-03-14 23:14] Airhogs777 opened #203 "default clipart or user-uploaded images"
This is probably pretty far out, but... for one of the tutorials, I wanna show how to use the image tag. But I'd rather the src be breadfish.gif than https://i.ytimg.com/vi/0RpdPzJgaBw/maxresdefault.jpg -- which means we either need a default image in the editor or a way for users to upload images.

[2016-03-14 23:19] matthewr6 commented on #203
Default images that we can do like a find-and-replace on or something

[2016-03-14 23:30] Firedrake969 opened #204 "State of the project?"
Everyone's thoughts so far?  Input?  Want feedback?

I know it was kinda rough at first (e.g. issue #45) but it seems like we're going pretty well, and I'd love to get some input/feedback/more involvement.

[2016-03-14 23:35] #198 closed

[2016-03-14 23:35] matthewr6 commented on #198
Finished.

[2016-03-15 00:08] mrjacobbloom commented on #23
could it be the default img src? I feel like having a filename as the default text is confusing

[2016-03-15 00:13] BookOwl commented on #23
Default text ideas:
- Hello, World!
- I <3 breadfish
- Hello, Elemental!
- Content goes here.

[2016-03-15 00:13] BookOwl commented on #204
I think that things are going pretty well.

[2016-03-15 00:23] matthewr6 commented on #23
I don't even know why it's breadfish.gif right now lol

[2016-03-15 00:34] towerofnix commented on #23
I think we should just use `Breadfish`. :P

[2016-03-15 00:36] matthewr6 commented on #23
K

[2016-03-15 00:36] towerofnix commented on #204
Same here, looks like things are going quite well (especially in the last few weeks I've noticed)!

[2016-03-15 00:37] matthewr6 commented on #204
yeah I haven't had any project ideas lately so I started doing stuff here again :P

[2016-03-15 00:48] towerofnix commented on #204
Same lol.

[2016-03-15 07:18] Airhogs777 opened #205 "Quickly add text to empty c-blocks"
Obviously not for all of them, but some c-blocks will rarely contain anything besides text, so we might as well give empty c-blocks a button inside them to quickly insert a text block

Alternatively, we could fill them with text from the get-go.

[2016-03-15 07:42] mrjacobbloom commented on #204
It's looking great, I'm super glad to be back! :dancer:

[2016-03-15 07:54] mrjacobbloom commented on #205
Here's a mockup of what I'm imagining:

![mockup of text quick-insert button](http://i.cubeupload.com/cnBlwX.png)
I call it aAa

[2016-03-15 12:29] iamunknown2 opened #206 "Rendering of page one step behind text input in block editor"
This could prove irritating, as I do not want to hit space then backspace every time after I finish typing in what I wanted to type into the text block in the block editor.

[2016-03-15 12:42] iamunknown2 commented on #201
@PullJosh that would make things inconsistent, as the "document" element would be the only one whose name is the one used in HTML. To put it in another way:
- h1 element: also h1 in ElementalCode
- img element: also img in ElementalCode

BUT
- DOCTYPE HTML declaration: not DOCTYPE HTML in ElementalCode, is document instead

[2016-03-15 12:45] iamunknown2 commented on #201
We should really publish some design guidelines, especially on how similar ElementalCode should be to HTML without sacrificing too much user-friendliness.

[2016-03-15 12:48] towerofnix commented on #205
I like the look of that!

I'm not sure I really like "Aa" as the placeholder text there though.. hmm..

[2016-03-15 12:48] towerofnix commented on #206
Yeah, I do find this pretty annoying.

[2016-03-15 12:51] iamunknown2 commented on #201
We should remove the bottom </body> label, because it doesn't show up anywhere else.

BTW, I'm forking and making a pull request soon...

Edit: Just did. [Here](https://github.com/ElementalCode/elemental/pull/207). What do you guys think?

[2016-03-15 15:01] matthewr6 commented on #206
yeah I know there's a way to fix it I just can't remember how lol
I always get this problem when dealing w/JS and text inputs

[2016-03-15 15:22] TheInitializer commented on #23
what is breadfish

[2016-03-15 15:27] TheInitializer commented on #170
If I have time sure

[2016-03-15 15:31] matthewr6 commented on #23
Turn up your volume
http://www.breadfish.co.uk/

[2016-03-15 16:07] Tymewalk commented on #205
@Airhogs777 @liam4 Maybe `T` or `<e>`?

[2016-03-15 16:22] towerofnix commented on #206
onkeyup? onkeyup -> setTimeout? Something like that :P

[2016-03-15 20:25] mrjacobbloom commented on #205
Or just plain ol "txt"?

[2016-03-15 20:35] mrjacobbloom commented on #206
Try the oninput event, it seems to work better for me.

[2016-03-15 21:00] matthewr6 commented on #206
# not settimeout

[2016-03-16 19:10] Tymewalk commented on #205
@Airhogs777 That sounds good, but it might be too big.

[2016-03-16 20:14] mrjacobbloom commented on #205
I picked Aa initially because there's no better standard symbol for text. It could just be a + sign tho.

[2016-03-16 20:17] Tymewalk commented on #205
@Airhogs777 Oh, OK. I think then I agree - Aa would be best for some pre-initialized text. `+` is a little too generic.
@liam4 what do you think?

[2016-03-16 20:45] towerofnix commented on #205
`Text`? :P

[2016-03-17 03:10] iamunknown2 commented on #206
Can anyone direct me to the code which controls when the rendering of the page occurs?

It seems to be controlled by either onkeyup or onkeydown.

[2016-03-17 04:09] mrjacobbloom commented on #205
I dunno, sounds pretty risky.

[2016-03-17 11:10] towerofnix commented on #205
How is it "risky"?

[2016-03-17 12:54] iamunknown2 commented on #205
Why don't we just make a quick hack by adding a text block inside the block (e.g h1) after the block in the block menu is picked up?

[2016-03-17 13:42] matthewr6 commented on #205
But what if people don't want it?

[2016-03-17 15:58] Tymewalk commented on #205
@Firedrake969 Now I'm confused. If people might not want it, why have a text bubble in the first place?
At this point if they do they can always just drag it themselves.

[2016-03-17 15:59] towerofnix commented on #205
Frequently people will want to have just text content for their block, but there will be times when people won't. So we make clicking on the bubble a quick but optional way to insert a text block.

[2016-03-17 20:45] matthewr6 commented on #205
^

[2016-03-17 22:22] Tymewalk commented on #205
@liam4 Ah, I see.

[2016-03-17 23:39] BookOwl commented on #205
How about we just make the bubble say "txt"?

[2016-03-17 23:50] matthewr6 commented on #205
I like `Aa` the best

[2016-03-18 13:58] matthewr6 commented on #206
Look for where the `setFrameContent` function is called.

[2016-03-18 13:59] matthewr6 commented on #170
@Dylan5797 could you put the HTML file in the static root?

[2016-03-18 14:10] towerofnix commented on #205
I feel so assigned. o_O

[2016-03-18 14:11] iamunknown2 commented on #206
Uh... Which one should I work on? block-editor or gh-pages?

[2016-03-18 14:42] iamunknown2 commented on #206
OK. It was just a tiny change. All I needed to do was to change "keydown" to "input" somewhere.

It did take me ~15 minutes of scouring though :package:

I'll fork, push and make a pull request later. It's getting late where I live.

[2016-03-18 14:42] matthewr6 commented on #206
block-editor

[2016-03-18 14:56] iamunknown2 commented on #206
I've pushed the branch, I think.

[2016-03-18 23:04] mrjacobbloom commented on #23
I have no idea how to get my changes back to you guys, I'm pretty sure I accidentally forked the branch... can I just email one of you a zip of my repo :disappointed:

[2016-03-18 23:10] matthewr6 commented on #23
Forking the branch is a good thing!
Of course, that means you didn't (:P jk sorry I'm being mean) but do you even git?

Yeah go ahead and upload it somewhere or something

[2016-03-19 00:16] mrjacobbloom commented on #23
NO I DON'T GIT :rage: (jkjk) C9 lets you clone repos but not SSH back into the master branch or whatever without a paid account.

https://drive.google.com/file/d/0BwLpMm1gMerELUVweWlJMmlGT2s/view?usp=sharing
the only existing file that needs to change is index.html, which needs the new line `<script src="resources/js/elemental-intro.js"></script>` in the head somewhere. The other new files are
- r

[2016-03-19 00:49] towerofnix commented on #23
C9 as in [c9.io](https://c9.io/)?

Why you no `git`? :package:

[2016-03-19 02:36] iamunknown2 commented on #127
Shouldn't intuitive-trash be forked from block-editor or gh-pages?

[2016-03-19 02:57] matthewr6 commented on #127
It's probably fine

[2016-03-19 04:02] iamunknown2 commented on #127
Wait - what's the point of

[code]

Couldn't you just rely on one? Isn't this redundant?

[2016-03-19 04:04] matthewr6 commented on #127
Whenever I'm asked that question, I always know that there is or used to be a reason.

I never know why, though :P  Probably something about cross-browser compatibility

[2016-03-19 12:26] iamunknown2 commented on #127
I've made my own branch: https://github.com/ElementalCode/elemental/tree/block-editor-intuitive-trash/resources/css

You may want to improve on the quality of the image.

[2016-03-19 12:40] iamunknown2 opened #211 "I accidentally showed my email and real name in git"
I'll rewrite history. However, you guys will have to re-clone the repository.

Sorry!

[2016-03-19 14:47] matthewr6 commented on #211
uh, what branch?  I understand that's a pretty big issue, but I'd rather not have it break everything for everyone...

[2016-03-19 14:49] iamunknown2 commented on #211
@Firedrake969 I pushed to gh-pages and the derivative branches of block-editor (block-editor-fix-delay, block-editor-intuitive-trash) so I had to rewrite the Git history for that.

[2016-03-19 14:50] Firedrake969 opened #212 "Messy branching"
If you're working with the ***editor***, branch from `gh-pages`
If you're working with ***anything else***, branch from `master`

Thanks.  Makes it so much easier to keep things organized...

[2016-03-19 14:51] matthewr6 commented on #211
Well, you shouldn't be pushing straight to gh-pages anyways...

Just be careful from now on - I don't want this to happen again, as whoever's working with those branches will likely have some problems.

[2016-03-19 14:52] iamunknown2 commented on #212
@Firedrake969 You did tell me to fork from `block-editor`...

[2016-03-19 22:43] mrjacobbloom commented on #23
mostly because new CLI's scare me until someone has explicitly walked me through everything I'll ever need to do, and git has a lot of things to do. And I can't use the github desktop app 'cause I'm on 10.8

[2016-03-20 00:26] matthewr6 commented on #23
There are only like 10-ish commands you need to know if you want me to write about the ones I use

[2016-03-20 00:28] mrjacobbloom commented on #23
That would be cool

[2016-03-20 00:39] iamunknown2 commented on #23
Cloning repo to PC:

[code]

Staging (including) your changes:

[code]

Committing your changes (last step before uploading)

[code]

Uploading your changes:

[code]

Switching branches:

[code]

Making new branch and switching to it:

[code]

Getting log of changes (current branch only):

[code]

[2016-03-20 01:12] iamunknown2 commented on #200
Proper grammar does feel friendlier :package:

[2016-03-20 01:43] mrjacobbloom commented on #212
He merged block-editor into gh-pages around the time he wrote this

[2016-03-20 02:05] iamunknown2 commented on #23
To elaborate...

[code]

For misc:

[code]

[2016-03-20 02:49] iamunknown2 opened #214 "Low-res trash image"
I've tried tracing it in Inkscape, but it came up with a series of lines like this:
[code]
Instead of a straight line. Could the creator of this image provide an svg/image with a higher resolution

[2016-03-20 03:08] matthewr6 commented on #214
@PullJosh

[2016-03-20 06:36] iamunknown2 opened #215 "Why do we need circleci for checks on gh-pages?"
What's the point?

[2016-03-20 11:16] PullJosh commented on #214
[Trash Can.zip](https://github.com/ElementalCode/elemental/files/181248/Trash.Can.zip)
(Had to be a zip because github doesn't allow svg uploads.)

[2016-03-20 15:04] matthewr6 commented on #215
It's just the default and I've been too lazy to disable it lol

[2016-03-22 00:22] iamunknown2 commented on #214
Thanks.

[2016-03-22 00:22] #214 closed

[2016-03-22 11:20] #211 closed

[2016-03-22 11:20] iamunknown2 commented on #201
Since it's been fixed, I'll close this right now.

[2016-03-22 11:20] #201 closed

[2016-03-22 11:32] liam4 opened #216 "Blocks render below the pallet"
Kind of annoying.

[2016-03-22 12:09] iamunknown2 commented on #216
Could you elaborate? I don't really get what you're saying.

Edit: Are you talking about the loading of something whenever you move a block?

[2016-03-22 12:33] iamunknown2 opened #217 "What are all the .draggy elements for?"
My first guess was for undo/redo, but that doesn't work at all.

[2016-03-22 13:18] BookOwl commented on #216
I think he means that the when you drag blocks they go under the pallete.

[2016-03-22 13:32] matthewr6 commented on #217
something important at one time or another, possibly still used xD

[2016-03-22 13:32] matthewr6 commented on #217
I think they're just artifacts that we don't clean up

[2016-03-22 13:32] matthewr6 commented on #216
Yeah, BookOwl's right, someone wanna fix that CSS?

(there are three Matthews on this organization lol - bookowl me and quat)

[2016-03-22 13:35] Tymewalk commented on #216
@Firedrake969 Where's the code that handles that stuff?

[2016-03-22 13:36] towerofnix commented on #216
I think you'd need to change [this](https://github.com/ElementalCode/elemental/blob/b3a4105e02d68b7a0474f0a19bf4456b4ecda6c3/apps/projects/static/css/editor/style.scss#L346-L355), in the SCSS.

[code]

[2016-03-22 13:39] Tymewalk commented on #216
@liam4 OK.
So to fix this all we need to do is make the blocks render above the palette. Shouldn't be too hard.

[2016-03-22 14:15] matthewr6 commented on #216
Guessing just a z-index somewhere

[2016-03-22 14:36] Tymewalk commented on #216
@Firedrake969 OK then.
I'll go take a look at how to do that.
(Go back 9001 layers, anyone?)

[2016-03-22 14:39] Tymewalk commented on #216
This may help, by the way: http://www.sitepoint.com/better-solution-managing-z-index-sass/

[2016-03-22 23:27] TheInitializer opened #218 "Better new file dialog"
https://thimbleprojects.org/theinitializer/46355/
here's a thing I made

someone implement it and pr it

[2016-03-22 23:28] TheInitializer commented on #218
just realized we have 218 issues/prs - waaaat

[2016-03-22 23:39] TheInitializer commented on #218
btw there are supposed to be images on the buttons - I was lazy so didn't use an iconfont

[2016-03-22 23:41] matthewr6 commented on #218
implement it pls
I'm busy making a brain

[2016-03-23 02:32] towerofnix commented on #218
A [gopher-brain](https://github.com/Firedrake969/gopher-brain)! :P

[2016-03-23 09:52] iamunknown2 opened #219 "intuitive-trash branch name is misleading"
It seems to focus on the backend instead of the frontend (where the intuitive trash should be implemented), considering the origin of the fork.

[2016-03-23 10:27] PullJosh opened #220 "Website is Ugly"
Sorry to whoever designed it. :package:

I hate to break it to all y'alls, but the website looks like it was made by kids (which, admittedly, it was). I feel like [my first design](http://codepen.io/PullJosh/pen/JdQMgq) looked *pretty* nice, but I can do better. The other issue is that it didn't really give all of the information we need to give. :P

Before the public beta, I want to overhaul the

[2016-03-23 10:56] towerofnix commented on #219
Weird.. :/

[2016-03-23 13:21] matthewr6 commented on #220
Any pages in specific you want to change, or just everything?
Also any specific things about the design that you don't like?  I personally like it (though having no border-radius might be better, and with less shadow)

Also, two things.
First - NO DARK BACKGROUNDS please
Second - as we said about that design, remember that none of the pages are simply static cover pages

[2016-03-23 13:23] PullJosh commented on #220
Everything.

1) That's fine
2) Yup! That's why I need everyone to let me know what content goes where.

[2016-03-23 13:24] matthewr6 commented on #220
For 2, basically see the pages as they stand right now - they have all the information that they'll probably have (although make sure to make it flexible w/adding or removing sections/info)

[2016-03-23 13:25] matthewr6 commented on #219
If you're talking about

It always says that.

Branch seems fine to me.

[2016-03-23 13:25] #219 closed

[2016-03-23 13:27] PullJosh commented on #220
Okay! I'm assuming that w/ python it's relatively easy to insert content which follows a specific format?
(eg. if we have carousels like on the scratch homepage, you can fill in images & text where I just put placeholders)

[2016-03-23 13:38] matthewr6 commented on #220
Yeah.

Also

[2016-03-23 14:14] BookOwl commented on #220
I like what we have now.

[2016-03-23 14:17] PullJosh commented on #220
I dislike what we have right now so much that I'm going to make the executive decision that we need a new design. I know this is a group project, but I can't stand what we've got. :package:

[2016-03-23 14:19] matthewr6 commented on #220
I'm going to veto that because you need to at least explain why first and propose actual changes instead of just saying you'll redo it because you personally dislike it without explaining anything else

[2016-03-23 14:20] BookOwl commented on #220
What exactly is wrong with what we have now?

[2016-03-23 14:21] matthewr6 commented on #220
That's been asked three times so far :P

[2016-03-23 14:30] BookOwl commented on #220
What makes you say that?

[2016-03-23 16:22] PullJosh commented on #220
Compare [our website](https://elementalcode.herokuapp.com/) to something more professional like Scratch. We have massive border-radiuses (radii?) and box-shadows, both of which are very 2004. The navigation bar, on hover, is a terrible off-green, and there is a bunch of unused space.

Take a look at the site from the eyes of a potential user. Nothing about it appears professional. Even on a subcon

[2016-03-23 16:38] PullJosh commented on #220
Looking back on what I wrote, it's clear that you guys are taking the brunt of my perfectionism. I'll try to tone it down. :package:

[2016-03-23 17:27] BookOwl commented on #220
I personally like both of those.

I agree with you on that.

Again, I agree with you.

I'm not sure about that. While the site could be better, I don't think it's _that_ bad.

Sounds like a good plan to me.

[2016-03-23 18:47] towerofnix commented on #220
I like the box shadows but maybe more transparent / less thick, same for the border-radiuses but maybe less round.

[2016-03-23 20:50] PullJosh commented on #220
Agreed. I like very subtle doses of each (4-6px border radius, extremely small and subtle box shadow).

[2016-03-23 21:06] matthewr6 commented on #220
Agreed with the border-radius and box-shadow properties.

Not sure what color green we want/have been using for the nav bar and other parts of the site...  Preferably whatever's in the editor's bar

Yeah we get that you don't like it :P

Ok, sounds fair

Why not just modify the current stuff though?  (also because our CSS **_must be**_ reused throughout pages - so much cleaner!)  It seems the curr

[2016-03-23 22:26] PullJosh commented on #220
Well... yeah. Whatever it is, I have a terrible case of it. Sorry for being a bit brutal. It's just the way I am. :package:

[2016-03-23 22:27] matthewr6 commented on #220
It's fine - I'm like that too a lot :P

[2016-03-23 22:30] PullJosh commented on #220
You're allowed to do it for the backend if I can do it for the frontend. xD

[2016-03-23 22:33] PullJosh commented on #220
In terms of UX... Are we okay with having a different homepage depending on whether or not the user is signed in, or do we want them identical?

[2016-03-23 22:34] matthewr6 commented on #220
Fairly identical would probably be best, though a big intro picture (not necessarily a picture tho - kinda like the thing in your mockup) inserted between the navbar and the actual content would be cool

[2016-03-23 22:35] PullJosh commented on #220
So something like Scratch has?

[2016-03-23 22:37] matthewr6 commented on #220
Yeah
(I was talking about the picture/notreallyapicture being like that screenshot we have with the labels)

[2016-03-23 22:38] PullJosh commented on #220
Sounds cool!

What are we looking at in terms of required browser support? (Read as: is [flexbox](http://caniuse.com/#search=flexbox) okay?)

[2016-03-23 22:40] matthewr6 commented on #220
No, read as: What's the oldest IE version we want to support?  :P
I think IE 11.

[2016-03-23 22:41] PullJosh commented on #220
Okay! I'll go with flexbox then. :)
(Should I be discussing on gitter?)

[2016-03-23 22:49] towerofnix commented on #220
Edggggge pls :P

jk, IE 11 I guess.

[2016-03-23 23:39] PullJosh commented on #220
Dang... I thought I was getting somewhere, but then I added some text and it ended up really hard on the eyes. :(

Determined to make this perfect.

[2016-03-24 00:07] towerofnix commented on #220
Oh no, did you leave a spare

[code]

somewhere? :P

(EDIT: more terrible)

[2016-03-24 00:11] matthewr6 commented on #220
xD

[2016-03-24 09:58] PullJosh commented on #220
Does everyone agree with firedrake that a light colored site is better? (because imo dark looks _way_ better and matches the editor much more nicely)

Give this a "thumbs up" reaction for light and a "thumbs down" reaction for dark.

[2016-03-24 10:45] towerofnix commented on #220
(Confused bc I'm not sure which to choose, your post was written well and stuff)

On the one hand I prefer light webpages but I'm often setting my text editor to dark colors..

[2016-03-24 10:49] PullJosh commented on #220
I've come to a bit of a compromise, or at least the idea for one. We'll see how it goes.

[2016-03-24 11:02] PullJosh commented on #220
@Firedrake969 How hard is it, from the backend side of things, to put the sign up/log in forms on the homepage? (I'm hoping to do something like scratch does.)

[2016-03-24 14:01] matthewr6 commented on #220
It'd probably be best to have just one of the forms (I'd prefer the login form)

[2016-03-24 20:17] PullJosh commented on #220
Okay... so login is a little popup thing like Scratch, but sign up is a link to another page?

[2016-03-24 20:21] BookOwl commented on #220
That's professional web design for you! xP

[2016-03-24 22:41] PullJosh commented on #220
It's a shame we can't do better than the big, monstrous companies. It doesn't seem like it would be that hard... (I'm no expert, but it seems like you could just have an input of the `hidden` variety which states whether the user is signing up or logging in. Is this not possible?)

[2016-03-24 23:06] matthewr6 commented on #220
It is actually somewhat difficult and, as importantly, breaks Django's design patterns.  Just have two separate pages for login/signup...

It is possible, but given that it does break the design patterns of Django and does require a potentially substantial amount of effort, maybe we should vote?

Thumbs up if you want to have them on different pages, thumbs down if not @ElementalCode/programmers .

[2016-03-24 23:13] PullJosh commented on #220
Okay.

[2016-03-24 23:14] PullJosh commented on #220
Running into readability problems again. Our green color really doesn't have any good color you can place on top of it and have be readable. :(

[2016-03-24 23:14] matthewr6 commented on #220
White?
What's the hex code?

[2016-03-24 23:20] PullJosh commented on #220
All colors are listed here: https://github.com/ElementalCode/Elemental/wiki/Dev-Notes

Here's what the call to action button looks like currently:
![image](https://cloud.githubusercontent.com/assets/5458180/14034016/782a6998-f1f5-11e5-84e8-eecc30368ac6.png)
Clearly there's still work to be done.

[2016-03-24 23:21] matthewr6 commented on #220
(do remember that this isn't merely a cover page, please and thanks)

[2016-03-24 23:21] PullJosh commented on #220
Yup! As I said, still lots of work to be done.

[2016-03-24 23:25] BookOwl commented on #220
I can read it just fine... :confused:

[2016-03-24 23:32] matthewr6 commented on #220
I still think we should be improving our current design, not creating a completely new one, tbh

[2016-03-25 01:02] PullJosh commented on #220
What is the benefit?

[2016-03-25 01:43] matthewr6 commented on #220
Rather, what is the benefit of creating a new design in place of a functional design we currently have?  That is what is being proposed, and is what must be proved - not the other way around.
However, one reason is that there's already a base design to work from.
(I think you still have yet to give a concrete reason why the design is bad aside from points that we agree on...  If there are legitima

[2016-03-25 10:39] PullJosh commented on #220
I think that's where our viewpoints differ. To me, just because something is functional doesn't mean it's good. I'm a more artsy person, which is definitely not the standard programmer mindset.

To be fair, you're probably right that I should have started from what we already have. At this point, though, I'm too far in for it to be worth going back and starting over.

My plan was to create a new b

[2016-03-25 10:57] towerofnix commented on #220
Rewrite all the things! :)

I do that [too much](https://www.youtube.com/watch?v=XcUUY8ziTuk).

[2016-03-25 14:09] matthewr6 commented on #220
Exactly - it's currently functional, which is the first step in having something be good.  It works, though it may not look nice.  That's why you can work off a functional thing to add to/change the design!

That's certainly not my goal - I'm just trying to think about the most efficient way to do things.

I'm definitely OK with complete rewrites if that's the only way to do something - just look

[2016-03-25 14:18] PolyEdge commented on #220
The navbar is seafoam

[2016-03-25 14:20] PolyEdge commented on #220
And also, **I** wrote the frontpage.

[2016-03-25 14:20] matthewr6 commented on #220
I think he meant on hover (which I still like tbh)

don't worry, not everyone completely dislikes the page :P

[2016-03-25 14:23] PolyEdge commented on #220
Me too

[2016-03-25 14:27] PolyEdge commented on #170
Oh my god I have commented like three times and it hasn't come through.

Yes, I'll add it.
I'm not dead, I was just without internet for a while.

[2016-03-25 14:35] matthewr6 commented on #170
k

[2016-03-25 19:16] TheInitializer commented on #220
Am I the only one that agrees?

##

I like dark backgrounds...
at least have one on the non-logged-in splash :package:

[2016-03-25 19:39] PullJosh commented on #220
That was my plan exactly.

[2016-03-25 19:42] matthewr6 commented on #220
continuity though...

[2016-03-26 01:36] PullJosh commented on #220
It's like a little banner.
Here's a beautiful diagram I made to show the general idea:
![image](https://cloud.githubusercontent.com/assets/5458180/14057280/7ee5de3e-f2d1-11e5-8dd1-f220f68005c3.png)
The black banner\* is only there for signed out users. People who are signed in just get strait to the project carousels (unless we want to stick something else in there like blog posts.)

[]()\* not ac

[2016-03-26 02:09] matthewr6 commented on #220
K, kinda looks like what we have now :P  so cool

[2016-03-26 03:36] PolyEdge commented on #214
Really? Weird.

[2016-03-26 13:48] PullJosh commented on #220
In terms of making the site responsive... How small of screens should we support?

I wouldn't imagine mobile users are going to be a large portion of our audience. (If we really want to know, we can always use Google Analytics to find out the exact resolutions of users' devices.)

[2016-03-26 15:39] towerofnix commented on #220
I'd say at least 200px wide screens should be supported. :P

[2016-03-26 16:04] matthewr6 commented on #220
Tablet.

[2016-03-26 17:25] PullJosh commented on #220
I hope you're joking.

That seems good.

[2016-03-26 18:29] towerofnix commented on #220
I'm not joking about 200px for the actual website and previews of sites people have created with Elemental. Tablet size is good for the editor though.

[2016-03-26 23:54] PullJosh commented on #220
![image](https://cloud.githubusercontent.com/assets/5458180/14063014/7e791d4c-f38c-11e5-85d4-dd78186ed18e.png)

[2016-03-26 23:59] towerofnix commented on #220
Oh wow haha. I meant 300px :P

[2016-03-27 00:07] PullJosh commented on #220
A bit of googling seems to suggest that 320px is generally the lowest any sane person goes, as it's the size of older (smaller) iphones in portrait mode. I _highly_ doubt we'll be getting many phone visitors, so going lower than about 500px will be low priority.

[2016-03-27 00:14] matthewr6 commented on #220
We're not quite sane tho :P
+1 for 500px

[2016-03-27 00:39] PullJosh commented on #220
Shhh...

[2016-03-27 04:41] PolyEdge commented on #220
I feel kind of bad now. Is it that darn `border-radius` or is it just terrible :stuck_out_tongue_winking_eye:

[2016-03-27 04:48] PolyEdge commented on #220
:cry:

[2016-03-27 04:48] PolyEdge commented on #220
I'm pointless then if you're going to overhaul the frontend

[2016-03-27 04:54] PolyEdge commented on #204
There's that :D thing again ^^^^ :P

[2016-03-27 05:00] PolyEdge commented on #220
Would longer boxes be better?
http://prntscr.com/akjuwc

[2016-03-27 05:01] PolyEdge commented on #220
I'm depressed

[2016-03-27 05:22] iamunknown2 commented on #220
@Dylan5797 I think we should use something else other than bright orange...

It would also be nice if it was responsive and adapted to the size of the screen. Maybe something like this:

[code]

[2016-03-27 10:07] mrjacobbloom commented on #204
No I wanted a dancer there :package:

[2016-03-27 12:02] PullJosh commented on #220
O_O I hope you're exaggerating.

[2016-03-27 12:08] PullJosh commented on #220
Okay, I'm going to share what I've got so far so that you guys can nitpick it. I want you to be as mean to mine as I was to Dylan's. Pick it apart and tear it to shreds. That way we can get it perfect.

**I currently have only finished the navigation bar and banner.** I'm aware that this homepage will need to be more than just an advertisement (also show "featured" pages and things), but I'm not t

[2016-03-27 12:14] PullJosh commented on #220
(Sorry for triple post...)

Here are my current concerns about the design:
1. Logged-out banner area might be too tall (opinions?)
2. the "or" between the two green buttons at the bottom looks kind of ugly
3. The links in the navigation bar don't really change at all on hover (only your cursor looks different). Is this bad for usability?
4. I tried to make everything nice and responsive, but the h

[2016-03-27 13:16] towerofnix commented on #220
![screen shot 2016-03-27 at 10 11 21 am](https://cloud.githubusercontent.com/assets/9948030/14065556/f2ab50b8-f404-11e5-81db-6ccffcbaf744.png)

I feel sad for the people who have computers like that. :package:

[2016-03-27 15:01] TheInitializer commented on #220
I honestly love it. I like how we brought that purple back - tbh, coral is really ugly if overused. I'll try to critique it later I guess

[2016-03-27 15:17] TheInitializer commented on #220
http://codepen.io/TheInitializer/pen/MyoVgY did a few little tweaks
- tooltip thingies are transparent when hovered over
- register and sign in both have transitions
- not much else :package:

[2016-03-28 07:56] mrjacobbloom commented on #220
My biggest concern is that this new design is starting to feel like a landing page, and I don't think the logged-in version will look any good without the screenshot widget. You'll never see these scrolly-big-picture-minimalistic landing-pages double as a dashboard for a logged-in user, there's always a separate dashboard/homepage. The first example that comes to mind is Google Drive: only logged-

[2016-03-28 11:02] PullJosh commented on #220
I think you're right. One option would be to try to shrink down the landing image area. Let's wait for thoughts from others to see what happens.

Okay! I might tweak how it looks just a bit, but it should stay functionally the same.

I was thinking about making them green on hover, but I don't want them to look like the first ("Elemental") link.

Yay! :D

Very good point. I'll definitely fix that

[2016-03-28 11:12] PullJosh commented on #220
Is this version of the "or" better or worse?

![image](https://cloud.githubusercontent.com/assets/5458180/14076947/66adb6b8-f4b4-11e5-81a4-531c12d61c9c.png)

[2016-03-28 11:30] iamunknown2 commented on #220
@PullJosh +1 because it makes it more apparent to the user that an account is required to save to the cloud, without having to sacrifice much aesthetically.

However, it might be better if the blocks were on different lines, with the "or" in between them.

[2016-03-28 11:55] PullJosh commented on #220
Try shrinking down your browser (or the codepen preview window). ;)

[2016-03-28 14:35] mrjacobbloom commented on #220
I like the "or" better without the horizontal lines

[2016-03-28 15:08] PolyEdge commented on #220
I like all this, but what about every other page on the website...

[2016-03-28 15:11] PolyEdge commented on #220
Oh and I was joking in all my posts further up...

[2016-03-28 15:11] mrjacobbloom commented on #220
shhhh don't think so hard

thank goodness, I was actually woried :package:

[2016-03-28 15:18] PolyEdge commented on #220
lol

[2016-03-28 15:19] mrjacobbloom commented on #23
Has anyone merged those changes in yet? I don't see them anywhere and it's stressing me out... _please_ don't make me figure it out on my own :pray:

[2016-03-28 15:21] PolyEdge commented on #220
oh did i make the new slogan "Learn to develop on the web with an easy drag-and-drop interface."

[2016-03-28 15:28] PolyEdge commented on #220
I'm assuming that we should have a separate css file for the front page, right?

[2016-03-28 15:33] PolyEdge commented on #220
And also, is the text going over top of the carousel in the commented out code intentional? I think it's a bit weird tbh.

[2016-03-28 15:46] mrjacobbloom commented on #220
can we change it to "Learn to develop websites with an easy drag-and-drop interface."?

lol I think that's why it's commented out :stuck_out_tongue_closed_eyes:

[2016-03-28 17:15] TheInitializer commented on #220
[Done.](http://codepen.io/TheInitializer/pen/MyoVgY/)

[2016-03-28 17:17] TheInitializer commented on #220
(please improve on my terrible blue dots)
(any ideas for colours to use for the dots?)
(lol I feel like I'm typing in a Lisp-like language)

[2016-03-28 17:18] TheInitializer commented on #220
Also I like the pocket shadow thingy

[2016-03-28 17:42] mrjacobbloom commented on #220
`please(improve, on, my, terrible, blue, dots);`
I was thinking the tooltip text collapses, but that works too :P those blue dots are actually terrible tho haha

[2016-03-28 19:59] TheInitializer commented on #220
Lolyeah. We need a colour that looks good and stands out from the background (or maybe just bigger dots :package: )

[2016-03-28 20:10] TheInitializer commented on #220
Here's an example of something like this: http://komodoide.com/

[2016-03-28 23:53] PolyEdge commented on #220
Make the circles jump every once in a while to give the idea that they're interactive.

RRRRAAAAIIIINNNNBBBBOOOWWWW
![lel bad reference](https://s3.amazonaws.com/colorslive/png/102387-j7xEX6rPF99qdTjC.png)

+9000

I'll might be able to do it if I had time.

[2016-03-29 00:06] mrjacobbloom commented on #220
I like the radar animation. you can probably pull that off with CSS alone if you use animations and the outline property.

[2016-03-29 00:22] TheInitializer commented on #220
http://codepen.io/TheInitializer/pen/MyoVgY
Better colour, box-shadow, semi-transparent. I'll look into a radary thing

[2016-03-29 00:51] TheInitializer commented on #220
So I made a radary thing but for some reason it doesn't show the popup when I hover over it (but it does without the radary thing). Probably because I couldn't figure out how to use ::after so I just copied and pasted the div :package: Anyway I'll leave you to debug it: http://codepen.io/TheInitializer/pen/MyoVgY

[2016-03-29 00:51] PullJosh commented on #220
Any ideas on what the UX benefits are for the dots?

Things always look awful when they're a work in progress. That's why it was commented out. :stuck_out_tongue_winking_eye:

[2016-03-29 01:33] mrjacobbloom commented on #220
Fixed the dots: http://codepen.io/anon/pen/EKvYpa

_shrug_ I'm still rooting for a slideshow-type-thing where only one tooltip is visible/noticeable at a time, so we need a way to hide the other hints while still making them accessible.

[2016-03-29 05:24] mrjacobbloom commented on #220
Ohh the pocket wasn't registering as a pocket for me. I fiddled with the CSS until it did, try this:
`box-shadow: 0 -17px 20px -13px rgba(68,76,84,0.9), 0 -5px 4px -5px rgba(0,0,0,0.5);`

http://codepen.io/anon/pen/vGJEBb (I was also playing with the dots on hover)

[2016-03-30 20:35] TheInitializer commented on #220
I already fixed them, just forgot to post here :package:
Now I'm trying to get the animation to stop when one of the dots is hovered over :page_facing_up:

The tooltips don't cover the image, so you can see more

[2016-04-05 22:41] bjskistad opened #223 "(Not a Real Issue) Possible way to join?"
Hey guys! Is there some way I could possibly join this group? Is there a Scratch forum topic or something? I was also thinking we could possibly collaborate, as I'm the owner of [Newawe](https://github.com/Newawe), a code sharing website. Please consider, and thanks for reading. (P.S. THIS IS THE COOLEST THING I'VE EVER SEEN!!!)

[2016-04-05 22:57] bjskistad opened #224 "Editor Text Block"
It is not updating to the current text.
![script](http://imagizer.imageshack.us/v2/252x198q90/921/L7AYMN.png)
Any idea on how to fix?

[2016-04-05 23:11] towerofnix commented on #224
Works for me on https://elementalcode.herokuapp.com/projects/editor as well as on http://elementalcode.github.io/elemental/ -- anything appear in the console?

[2016-04-05 23:18] matthewr6 commented on #223
What languages are you competent in?  Any examples of work you've done?  (specifically you, not just a project you're managing - so far we've been fine in that regard)

[2016-04-06 01:10] skistaddy commented on #224
Hmm... It isn't updating the HTML viewer. I'll try again later. :P

[2016-04-06 01:15] skistaddy commented on #223
@Firedrake969 I'm very fluent in HTML, CSS, JavaScript and Python. I know Node.js and SQL. And enough PHP to get me by. I made [`Trap.js`](https://github.com/bjskistad/trapjs), a JavaScriot function library. (With very few additions by other collaborators.) I'm making a Scratch favorite sensor, by myself. https://github.com/bjskistad/scratch_love_and_favorite_sensor

[2016-04-06 01:38] towerofnix commented on #223
Isn't Trap.js just a big file with a bunch of aliases for various functions? Why use the aliases when I could just use the normal functions?

(Maybe I should open up an issue on the trap.js repo..)

[2016-04-06 01:39] skistaddy commented on #223
We've added a bunch of new functions... Such as a cookie maker and some Ajax commands.

[2016-04-06 02:05] matthewr6 commented on #223
The cookie maker seems copied from [here](http://www.w3schools.com/js/js_cookies.asp) - might want to credit it if it is ;)

I think we're good for now, but feel free to make pull requests and ask what needs to be done.  If you make good contributions via PRs, we'll definitely consider asking you to join the organization.

[2016-04-06 12:01] skistaddy commented on #223
Okay! Yeah, they look pretty similar. I do a lot to browsing on that site. I don't remember finding it there. XD But I will give credit.

What does need to be done?

[2016-04-06 12:01] #223 closed

[2016-04-06 13:07] iamunknown2 commented on #224
Not working for me (the guy who wrote the fix) as well. Hmm...

[2016-04-06 14:06] matthewr6 commented on #224
http://prntscr.com/aov0p9
Not quite sure why yours has angle brackets - are you using a local copy that's outdated?

[2016-04-06 14:06] towerofnix commented on #224
What web browsers are you guys using? I'm on Firefox 48, and it works for me.

[2016-04-06 14:06] matthewr6 commented on #223
@bjskistad #218

[2016-04-06 14:06] matthewr6 commented on #224
Chrome something

[2016-04-06 14:07] towerofnix commented on #223
Anything in [/issues](https://github.com/ElementalCode/elemental/issues)? :P

[2016-04-06 14:08] towerofnix commented on #224
Probably they're using https://elementalcode.herokuapp.com/ ?

[2016-04-06 15:56] skistaddy commented on #224
Yeah, that URL that Liam said and I use chrome.

[2016-04-06 16:46] towerofnix commented on #224
You should be using http://elementalcode.github.io/. Also, both editors work for me running Chrome 51.

[2016-04-06 20:58] matthewr6 commented on #224
Chrome (I assume 51) on Windows for me and OS X for liam... what OS are you using?

also

[2016-04-06 21:07] towerofnix commented on #224
They're using https://elementalcode.herokuapp.com/ which hasn't been updated yet.

[2016-04-06 21:19] skistaddy commented on #224
I used your link and it didn't work. :/

[2016-04-06 21:23] BookOwl commented on #224
@bjskistad which link?

[2016-04-06 21:32] matthewr6 commented on #224
@liam4 Oh ok I'll get around to updating that....
maybe....

[2016-04-09 14:31] rumanti commented on #220
Nooo, I design the pages! _cries_ - Actually, just kidding - and I don't design the navigation bar :package:

Personally, I'm not happy with the childishness of the design - I _thought_ that the design was supposed to be child-friendly, probably because of the "cveryone learn computers now!" trend, and I was like, "ugh, you can't just abort just because you don't like the idea! Get on with it!" I

[2016-04-09 15:35] PullJosh commented on #220
https://github.com/ElementalCode/Elemental/wiki/Dev-Notes#ui---user-interface

Any reason?

I'm thinking flat w/ subtle shadows and relatively spacious.

---

I haven't been working on this lately because I'm still on vacation. I'll start working on it again when I get back. :)

[2016-04-09 18:02] quat1024 commented on #220
Hi guys!

A really nice compromise is to use a 3px border-radius. Box shadows also look great when used for a **subtle** effect (just slightly darker than the background and about 3 pixels long, no blurring).

That type of effect is what Google uses for Cards UI/Google Now stuff - seriously, [look at them](http://cdn.androidcommunity.com/wp-content/uploads/2015/01/Google-Now-Launcher.png), they kn

[2016-04-10 15:11] PullJosh commented on #220
It might be bad that I only just thought of this, but... Do we have a way to get screenshots of each page like CodePen does?

[2016-04-10 15:28] matthewr6 commented on #220
Yeah it's already implemented

[2016-04-10 16:32] PullJosh commented on #220
Wow! You're on top of things. Is a square image okay?

[2016-04-10 18:54] matthewr6 commented on #220
It's 360x480 (or vice versa, can't remember) but it's pretty easy to change

[2016-04-11 01:12] PullJosh commented on #220
Most likely 480x360. Whatever the case, it shouldn't be too hard to change things around in the design. :)

[2016-04-11 01:12] matthewr6 commented on #220
I can work w/pretty much whatever size

[2016-04-11 02:17] rumanti commented on #220
But it looks like light backgrounds are winning!

Bright navigation bars demands too much attention.

1. I don't like the fact that the background and the navigation have the same background color, with only box-shadow to separate them. The navigation bar should be a little darker (try #343C44) in my opinion.
2. The Register button seems too sharp-ish and doesn't  fit with the rest of the "fluid"

[2016-04-11 10:42] PullJosh commented on #220
Yeah, I just grabbed a few light grays (white and #ddd, iirc)

That's fine! But I think we can still have some color to it.

I'm not feeling it.
![image](https://cloud.githubusercontent.com/assets/5458180/14424620/1544fdde-ffb0-11e5-9587-26c93180a26a.png)

Again, I'm not sure I'm a fan.
![image](https://cloud.githubusercontent.com/assets/5458180/14424669/60fd3e76-ffb0-11e5-9d7f-6fefafcba0b0.png)
Y

[2016-04-11 10:49] towerofnix commented on #220
I vote.. 6px `border-radius`? :P

I can't stand when the navigation bar is the exact same color as the main background. It makes it hard to distinguish between the nav and the content. So I'd go for something a bit lighter (but not _much_ lighter) than the nav in the demo above.

Just my opinion..

[2016-04-11 10:50] PullJosh commented on #220
Bear in mind that the showcase image will only appear when the user is signed out. :)

[2016-04-11 13:16] iamunknown2 commented on #220
Why doesn't @PullJosh fork master and put changes and issues/suggestions there instead of one big thread?

[2016-04-11 13:19] iamunknown2 commented on #224
It doesn't work on Firefox...

[2016-04-11 13:58] matthewr6 commented on #220
Issues are for discussion, but branches aren't.

`4px` border-radius is what bootstrap uses, if that matters...

[2016-04-12 03:06] iamunknown2 commented on #220
The problem here is that ALL the issues are put in one big thread.

It would be much better if we had a dedicated branch to overhauling the UI.

[2016-04-12 11:18] towerofnix commented on #220
afaik issues are linked to the repository, not branches. You'd need a new repo for a new set of issues. Or you could have a label saying something along the lines of "new design" or whatever that all website-is-ugly issues/pull requests would get.

[2016-04-12 13:02] matthewr6 commented on #220
+1 for labeling issues, since that's what labels are for

[2016-04-12 13:14] iamunknown2 commented on #220
Whoops I forgot :package: but it's better to keep the changes on a separate branch, rather than on a CodePen.

[2016-04-12 17:09] matthewr6 commented on #220
👍🏽

[2016-04-12 23:16] PullJosh commented on #220
You're probably right. I'm using Codepen because I'm lazy. How about I create a branch once we have a first full homepage draft?

You do realize there's literally a button for that now... :package:

[2016-04-12 23:35] matthewr6 commented on #220
Commits don't have to be for complete things...  It'd be nice to be able to see how far you are in the same place as everything else

Not on mobile :P

[2016-04-13 00:48] PullJosh commented on #220
MOBILE!? O_o

[2016-04-13 01:06] matthewr6 commented on #220
I meant when I use my iPhone to go on github issues xD

[2016-04-13 11:08] PullJosh commented on #220
I feel like somehow using a phone to access github is morally wrong.

[2016-04-13 12:27] iamunknown2 commented on #220
PC master race :package:

[2016-04-13 13:23] mrjacobbloom commented on #220
:iphone: :iphone: :iphone: :phone: :iphone: :iphone:

[2016-04-14 00:33] iamunknown2 commented on #220
Wait... You can only assign one person at a time!??

[2016-04-14 00:57] mrjacobbloom commented on #220
Before I saw that it was an accident I was like "ohhhh shade thrown"

Sent from my iPhone.

[2016-04-14 01:35] matthewr6 commented on #220
@iamunknown2 yeah

[2016-04-16 21:03] PullJosh commented on #220
As tends to happen when I work on things, I've hit a burnout point where I don't really have much more energy to give on this one.

I took a break once I got to here, and didn't really get going again:
http://codepen.io/PullJosh/pen/PNjQmO

If someone else wants to take over that'd be great.
<sup><sup>I'm terrible</sup></sup>

[2016-04-16 21:30] matthewr6 commented on #220
a while later...

I like it - only thing I'd suggest is some sort of text/background color change for the navbar when you hover over create/explore/sign in

[2016-04-16 21:41] BookOwl commented on #220
Me too. The only thing that I would change is to center the footer links.

[2016-04-23 07:15] iamunknown2 commented on #220
Uh oh, it looks like Elemental is about to go dormant...

Anyway, can anybody fork master and push?

[2016-04-23 13:36] TheInitializer commented on #220
I don't like the T-shaped things around the "or" and the big green buttons. I liked it before

[2016-04-23 13:50] matthewr6 commented on #220
I don't mind the green buttons but I don't like the T things and the "or" should be bigger, IMO

[2016-04-23 14:03] TheInitializer commented on #220
I meant just the T things, not the buttons. Lol

[2016-04-23 14:05] TheInitializer commented on #220
from a comment in the css:

yes

[2016-04-23 14:12] TheInitializer commented on #220
here's my whole thing, based off of my original fork, nickynouse's fork of my fork and pulljosh's new thing. It's basically all the stuff I like :package:
http://codepen.io/TheInitializer/pen/wGxEYJ?editors=1100

one thing:

when one of the dots is hovered, it stops, but the others keep on going. Is there any way to stop all of the dots when one is hovered? That way they won't get all out of sync

[2016-04-23 15:14] mrjacobbloom commented on #220
I don't have free time to try this, but you could try putting the dots inside a 0x0 box, that way the parent will only have a hover effect when one of them is hovered-over

[2016-04-30 12:17] iamunknown2 opened #225 "This project is getting inactive"
I think we still have some stuff to do - for example, is the site functional yet?

[2016-04-30 12:19] skistaddy commented on #225
I know I'm not part of this, but you guys still need to add the featured projects, the ability to share projects, and the ability to save projects. I believe you could use LocalStorage for saving the projects. That way, you wouldn't need a DB.

[2016-04-30 15:47] matthewr6 commented on #225
Define functional... :P all the features I've attempted to implement work besides the things that are analogous to Scratch's studios

I think someone has to finish up the front page mockup

@bjskistad - please take a look at the current code **_and**_ capabilities of the site before making suggestions.  We will be doing featured projects and you can already save and share projects.  LocalStorage i

[2016-04-30 15:52] skistaddy commented on #225
@Firedrake969 You can't share projects... I'm using the herokuapp one, and I can't share it. I can download it, but when I click 'Share' there's a little drop-down box that comes down that says 'Save'. No sharing. :P

[2016-04-30 15:52] matthewr6 commented on #225
Maybe you should look in the code, lol
Sharing is definitely there - it's just that none of us higher powers (i.e. mods, admins, or me) have given you the ability to share.  It's a safety net for us so people don't share inappropriate things.

[2016-04-30 15:54] skistaddy commented on #225
Oh, lol. I feel so stupid now. XD So sorry. Also, just wondering, what DB do you guys use? (company(The database, not type.))

[2016-04-30 15:56] matthewr6 commented on #225
If you have questions, please review the code first!  All of our packages are in `requirements.txt` and all of our settings are in `settings.py`.
Also, please do some research on Django - the database type on this small of a scale (so far) doesn't really matter (assuming it's SQL), due to Django's ORM.  In any case, it's postgres (or sqlite if you're running locally).

[2016-04-30 15:57] skistaddy commented on #224
@liam4 It updates when I click outside of the block on the workspace, but not when I'm typing.

[2016-04-30 15:58] matthewr6 commented on #224
Please give your chrome version.  Is this on the github pages site?

[2016-04-30 15:59] skistaddy commented on #225
Sorry, 12 yr-b-lik. XD I'm more of a front end guy. HTML, JS, CSS, and Python are my thing. No Node.js, PHP, SQL, NoSQL, or MySQL for me. XD

I will do some research on Django. :)

[2016-04-30 16:01] skistaddy commented on #224
Yes it is on the GH pages.I believe this is my OS: ChromeOS 7834.70.0 The other one looks like my IP.

[2016-04-30 16:01] skistaddy commented on #224
I'm using chrome: Chrome 49.0.2623.112

[2016-04-30 16:02] matthewr6 commented on #224
Works for me, exact same version of Chrome.  Are there any console errors?

[2016-04-30 16:03] matthewr6 commented on #225
Basically all of the code here is Python and JS

[2016-04-30 16:03] skistaddy commented on #224
Lemme check...

[2016-04-30 16:04] skistaddy commented on #224
I got your guys' logo then this: `ncaught TypeError: Cannot read property 'addEventListener' of null`

[2016-04-30 16:04] matthewr6 commented on #224
What line?
A screenshot of the console would be nice

[2016-04-30 16:05] skistaddy commented on #225
Don't know any backend Python. :P

[2016-04-30 16:05] skistaddy commented on #224
K.

[2016-04-30 16:08] skistaddy commented on #224
http://imgur.com/qtdDLD8

[2016-04-30 16:34] matthewr6 commented on #224
Should be fixed - make sure to clear your cache

[2016-04-30 19:04] skistaddy commented on #224
K.

[2016-04-30 19:04] skistaddy commented on #224
Nope, wasn't fixed.

[2016-04-30 20:06] matthewr6 commented on #224
Please show your console again, then - that's more helpful than just "wasn't fixed"
I'm going to leave this closed until anybody but you can replicate it, though... because it seems to be a unique occurrence based on what others have said

[2016-04-30 20:08] skistaddy commented on #224
Nothing wrong with it.

[2016-04-30 20:09] matthewr6 commented on #224
What do you mean?

[2016-04-30 20:09] skistaddy commented on #224
No errors.

[2016-04-30 20:11] matthewr6 commented on #224
But... it still doesn't work?  @ElementalCode/programmers guys please confirm then

[2016-04-30 21:03] TheInitializer commented on #224
By this I assume you mean updating the preview as you type? If so it works for me on both versions (Firefox Developer Edition 48.0a2 with e10s on windows 10 64-bit)

[2016-04-30 21:08] skistaddy commented on #224
Yes. Doesn't work for me though.

[2016-04-30 21:54] matthewr6 commented on #224
It works for me on both versions too... Latest Chrome, and windows 10

[2016-04-30 21:56] matthewr6 commented on #224
@TheInitializer if only one person has reported it and it's not reproducible by anyone else I'm going to close it for now

[2016-04-30 21:56] #224 closed

[2016-04-30 21:56] skistaddy commented on #224
Lucky...

[2016-04-30 21:57] matthewr6 commented on #224
Did you clear your cache?

[2016-04-30 21:57] TheInitializer commented on #224
^^

[2016-04-30 21:58] matthewr6 commented on #218
who is implementing this?  @ElementalCode/programmers

[2016-04-30 21:59] #215 closed

[2016-04-30 21:59] matthewr6 commented on #176
Is this an issue still?  @ElementalCode/programmers

[2016-04-30 21:59] skistaddy commented on #224
YES I DID. I CLEARED MY WHOLE CACHE AND IT DIDN'T WORKED.

[2016-04-30 22:00] TheInitializer commented on #176
yes

[2016-04-30 22:04] matthewr6 commented on #224
No need for all caps.

http://elementalcode.github.io/elemental/resources/js/blocks.js
Please do a search for `'keydown'` and see if there are any results in the file.

[2016-04-30 22:08] towerofnix commented on #224
No results for me.

[2016-04-30 23:10] TheInitializer commented on #224
nope

[2016-05-01 21:32] matthewr6 commented on #225
@iamunknown2 what else do we want to add?

[2016-05-01 21:45] Firedrake969 opened #227 "Featured projects system"

[2016-05-01 22:16] matthewr6 commented on #220
@ElementalCode/programmers could someone implement this?  I'm working on a featured projects system but it depends on the front page designs

also clean up the CSS so that way we only need one file for the whole site instead of a single file for every page :/  Right now it's a mess, tbh - this is why everyone should run/develop locally instead of using codepen

[2016-05-02 04:12] iamunknown2 commented on #225
@Firedrake969 Maybe a Element system? (Like the Scratcher system :P) Maybe we should have Elementary Elements and  Noble Elements :P

[2016-05-02 13:13] bjskistad commented on #225
Lol

[2016-05-02 13:49] matthewr6 commented on #225
hahaha
yeah probably different statuses like "New" and "Trusted" and then the moderator/admin ranks

[2016-05-11 23:27] TheInitializer commented on #220
https://scratch.mit.edu/discuss/topic/134554/?page=53#post-1977743 proof :package:

[2016-05-11 23:35] matthewr6 commented on #220
site design != editor design
weren't the colors supposed to be temporary but we've never changed them?  :P

[2016-05-12 12:04] towerofnix commented on #220
_changes a couple variables_
:tada:

[2016-07-20 10:50] joker314 commented on #205
As a non-developer, I like the `Aa` since it is short but to me I understand that it means "Text" (I like how ATM it can be a circle because the text is so short). I think that as soon as something is placed inside the C-block the button should disappear (but should re-appear when you drag the blocks out again).

Sorry to intrude on your project,
jbs1

[2016-07-20 11:23] joker314 commented on #218
Hello, I am not a developer.

That thing looked lovely. Do you think there is a way to keep the cursor from going into a text selection cursor when you hover over the text within the button. Perhaps by using the `cursor: ...` CSS thing? It doesn't matter too much though.

Otherwise it looks great! :)

###### P.S. Remember to check if the user types the file extension in themselves: if they do, the

[2016-07-20 23:42] mrjacobbloom commented on #23
I can git now. If y'all are still interested I can add this in myself

[2016-07-20 23:46] matthewr6 commented on #23
Ok, git on it

...I'm so funny right

[2016-07-21 00:43] PullJosh commented on #23
Next New Years, you should commit to gitting a life. Your puns are so repolsive, I feel the need to push you to prove that I am the master. You better branch away from the bad jokes or I'll have to resolve this conflict myself.

[2016-07-21 00:58] mrjacobbloom commented on #23
Ok #231

[2016-07-21 02:39] mrjacobbloom commented on #218
What about something like this? http://jsfiddle.net/Airhogs777/9jnhmku6/embedded/result/

(I know it's hacky but it can be rewritten later)

[2016-07-21 02:50] PullJosh commented on #218
Cursor pointer pls: http://jsfiddle.net/PullJosh/6sp0podq/

[2016-07-21 02:51] mrjacobbloom commented on #206
this seems to be resolved on gh-pages, it's just not pushed to heroku

[2016-07-21 02:56] Airhogs777 opened #232 "Dragging blocks highlights text"
I thought there was already an issue for this but I can't find it... Anyway, dragging blocks (especially out of the blocks area) selects text and makes things scroll and a whole bunch of other badness. It's kinda annoying

It may be as simple as setting a CSS property on the blocks area: http://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css

[2016-07-21 02:59] mrjacobbloom commented on #205
Is this still in the works? I'd be down to take a stab at it.

[2016-07-21 03:04] mrjacobbloom commented on #218
pshh who needs usability when you have design (jkjk)

that was more of a proof of concept for the inputbox than the buttons anyway 📦

[2016-07-21 03:20] mrjacobbloom commented on #232
that or a preventDefault on a mouseDown event somewhere

[2016-07-21 09:20] joker314 commented on #218
Yes, that is what I had in mind. Well Done everybody!

###### Out of interest, are you guys accepting any more developers

[2016-07-21 11:49] towerofnix commented on #23
Well, it's been a year! Glad to see progress on this! :shipit:

[2016-07-22 15:28] mrjacobbloom commented on #220
are we still waiting for someone to commit this? I can commit this

[2016-07-22 16:46] matthewr6 commented on #220
Sure

[2016-07-23 06:07] mrjacobbloom commented on #220
Hey random question: The signup page keeps giving me an error that Localhost isn't approved for captcha. Is there a way around that so I can test the logged-in stuff?

[2016-07-23 06:30] mrjacobbloom commented on #220
Oh wait that's totally what createsuperuser does. I'm dumb, nvm

[2016-07-23 18:23] Airhogs777 opened #234 "The blocks area should initialize to the "text" pallete"
Right now when you first open the editor it just has an `<img>` tag, which isn't even a real tag anymore

[2016-07-24 18:27] DatOneLefty opened #235 "Pasting Text"
i pasted an image address from my website onto the src box for img, and the font was not the same, can you make the font the same for the project and ctrl-v?

[2016-07-24 19:07] matthewr6 commented on #235
The font in the input probably won't be the same - but it should be the same throughout all other block inputs.  Did the image work?

[2016-07-24 21:02] mrjacobbloom commented on #235
Is there something we can do about that? Can you limit contenteditable to a certain font?

[2016-07-24 23:12] matthewr6 commented on #235
It should have a uniform font... @DatOneLefty Do you have screenshots?

[2016-07-25 01:05] mrjacobbloom commented on #235
The way we designed the inputs allows for all sorts of formatting that we don't necessarily want. And it's hard to remove:

http://stackoverflow.com/questions/3553092/paste-only-plain-text-into-editable-div
http://stackoverflow.com/questions/7207291/is-it-possible-to-disable-or-control-commands-in-contenteditable-elements
http://stackoverflow.com/questions/6899659/remove-formatting-from-a-contente

[2016-07-25 01:06] mrjacobbloom commented on #235
(the reason we used contenteditable is so the inputs expand as text is entered)

[2016-07-25 07:35] joker314 commented on #235
If you want inputs to expand would it not be possible to use a bit of JS to change the width when a key is pressed or the input changes or something?

[2016-07-25 07:55] mrjacobbloom commented on #235
All the ways to do that are hacky and inconsistent. I feel like we looked at a bunch of ways to do expanding text boxes and decided this was the best option

[2016-07-25 16:40] joker314 commented on #235
Could you do an "on-key-up" for the input box and get some JS to strip HTML tags generated by the browser and uniform the fonts?

[2016-07-25 17:03] mrjacobbloom commented on #235
Hm... we might be able to do something like that. I'll look into it when I get the chance

[2016-07-25 20:36] matthewr6 commented on #235
We looked into that, IIRC, but it turned into a number of listeners that would scale linearly with the number of inputs.  I'm not against it, but do we know how efficient that would be?

[2016-07-25 20:40] joker314 commented on #235
Perhaps using `onfocus` to add the event listener and `onblur` to remove it? Does that save memory?

[2016-07-25 20:45] matthewr6 commented on #235
Possibly

[2016-07-25 20:46] matthewr6 commented on #235
Ok, found it - this is how we do a single, global event listener.  https://github.com/ElementalCode/elemental/blob/gh-pages/resources/js/blocks.js#L313

[2016-07-25 22:10] mrjacobbloom commented on #235
yeah that'll work. The `input` event seems to run on paste. I'll write a patch when I get home

[2016-07-26 09:22] joker314 commented on #235
Ok :)

[2016-07-28 07:01] mrjacobbloom commented on #235
closing for now

[2016-07-28 07:01] #235 closed

[2016-07-28 17:03] mrjacobbloom commented on #218
How's this look? It's less sketchy than the last version: http://jsfiddle.net/Airhogs777/7hb4tj8a/

[2016-07-28 17:12] PullJosh commented on #218
Ctrl+a will show the file extension is also before the file name as well as after. It's a clever trick for centering everything nicely, but I'd be great if there was a better solution...

[2016-07-28 17:13] mrjacobbloom commented on #189
Oop, #236 might remove all line breaks in text inputs

[2016-07-28 17:15] mrjacobbloom commented on #218
Once we know how wide the extension text is, we could probably use relative positioning or a transform

[2016-07-29 00:36] mrjacobbloom commented on #218
Okay, try this: http://jsfiddle.net/Airhogs777/7hb4tj8a/

[2016-08-01 02:36] mrjacobbloom commented on #234
resolved

[2016-08-01 02:36] #234 closed

[2016-08-01 02:36] #232 closed

[2016-08-01 02:37] #216 closed

[2016-08-01 16:16] mrjacobbloom opened #242 "issues with input cleansing"
for attribute inputs: can't type < symbol
for text block input: need exception for linebreak, which is rendered as a `<br/>` element in contenteditable inputs (question--should we convert that to `\n` when rendering to HTML?)

[2016-08-02 05:37] mrjacobbloom commented on #218
more robust JS and sassified, I think this is almost ready to go into the editor: http://jsfiddle.net/Airhogs777/7hb4tj8a/

[2016-08-02 05:39] mrjacobbloom commented on #218
todo: put standard validation on the file name

[2016-08-02 09:07] joker314 commented on #218
Maybe you could do an onkeyup -> check for invalid chars, if found, show notice, and remove?

[2016-08-02 09:33] mrjacobbloom commented on #218
Either that or when you try to create the file it throws an error... I haven't decided yet

[2016-08-02 09:40] joker314 commented on #218
If you do that, it always looks cool if you make the filename go really red then fade back to black? Or just keep it red?

[2016-08-02 09:41] joker314 commented on #218
I think it is annoying for a user to type something like `¬!"£$%^&I&^%$£"£$%^&*(.html` only to have all their work rejected. If, when they type  `¬.html` it turns red immediately, they don't waste their time...

[2016-08-02 15:00] matthewr6 commented on #218
Maybe do a regex to match something like `[a-zA-Z0-9]` and if the match fails, turn the border red (and reject it if they try to submit)

[2016-08-02 17:23] mrjacobbloom commented on #218
ta-da http://jsfiddle.net/Airhogs777/7hb4tj8a/6/

[2016-08-02 17:39] matthewr6 commented on #218
Awesome!  This is just me, but it'd be nice to make the red border a bit brighter and gray out the Create button if you can't create the file.

[2016-08-02 18:27] mrjacobbloom commented on #218
done http://jsfiddle.net/Airhogs777/7hb4tj8a/7/

[2016-08-02 19:08] joker314 commented on #218
I like it, maybe you could add some kind f explanation when th user hovers over the disabled "Create" button? Like a "Filename too short" or a "Filenames can only contain characters a-z 0-9 - _"?

[2016-08-02 19:14] matthewr6 commented on #218
Can a filename even be too short?  :P

The only exceptions I can think of:
- no file name (which might still be valid)
- duplicate file name
- invalid characters

[2016-08-02 19:25] mrjacobbloom commented on #218
Right now I'm using the regex `/^[\w,\s-]{1,255}$/`, which limits it to valid characters and length. I'll have to wait until I add it into the editor to check for duplicate file names. As for telling the user what they did wrong, I can probably add an errorbox

[2016-08-02 19:36] joker314 commented on #218
Yeah when I said too short I meant length 0 :P

[2016-08-02 19:41] mrjacobbloom commented on #218
how's this? http://jsfiddle.net/Airhogs777/7hb4tj8a/8/

I can tailor it to the specific error but that'll be more work

[2016-08-02 19:48] joker314 commented on #218
I can do it for you if you like? Give me a sec to do it

[2016-08-02 19:51] joker314 commented on #218
Your regex is faulty somehow: `file with spaces.html` is valid, but `spaces                 .html` is not

[2016-08-02 20:02] mrjacobbloom commented on #218
good catch, it looks like contenteditable automatically converts trailing spaces to nbsp

[2016-08-02 20:03] mrjacobbloom commented on #218
same for spaces at the start. That might be as simple as a find-and-replace

[2016-08-02 20:03] joker314 commented on #218
Yup

[2016-08-02 20:04] joker314 commented on #218
I am in UTC+3 so I better go to bed soon...

[2016-08-02 20:04] matthewr6 commented on #218
You theoretically could have `.html` :P

[2016-08-02 20:04] joker314 commented on #218
Well yeah but should you allow it?

EDIT: Why am I using first person? I am not on the team.. :P

[2016-08-02 20:05] matthewr6 commented on #218
Sure.  As long as they don't have two files with the same (lack of) name, there's nothing really wrong.

Probably not though because it won't show up in most file explorers

[2016-08-02 20:05] joker314 commented on #218
It seems a little weird but you do have a point

[2016-08-02 20:12] mrjacobbloom commented on #218
It makes me uncomfortable, but... low floor, wide walls, as the ST likes to say

[2016-08-14 00:41] ev3commander opened #243 "you can STILL add other attributes, eg style, using inspect element"
Basically there are a lot of attributes that arent in the dropdown, you can acces them with Inspect element

[2016-08-14 00:46] matthewr6 commented on #243
Not an issue, IMO.  If you can do that, you're probably not Elemental's target audience anyways :P  @ElementalCode/programmers Thoughts?

[2016-08-14 01:04] TheInitializer commented on #243
why is that a problem

[2016-08-14 01:05] matthewr6 commented on #243
The real problem is that we don't have enough attributes available :P

[2016-08-14 01:07] TheInitializer commented on #243
:point_up:

[2016-08-14 01:13] TheInitializer commented on #243
Just add all the possible attributes, or a few basic ones and a text box to enter your own, and it will become even less of a problem :package:

[2016-08-14 01:17] TheInitializer commented on #218
wow, people have made so many great improvements to my original design!

one thing is I don't like how the text becomes unselected when you click a button; is there a way for it to stay selected?

[2016-08-14 01:32] matthewr6 commented on #243
@TheInitializer
https://github.com/ElementalCode/elemental/blob/78714abe8734b3a4c85bd074cecbd72e5485aa17/apps/projects/static/js/editor/files.js#L58

[2016-08-14 01:37] TheInitializer commented on #243
lol. problem is not all of those apply to every element (`<strong href="bobby.com">`?)

[2016-08-14 02:42] matthewr6 commented on #243
You can put them on every element, though :P

[2016-08-14 22:21] mrjacobbloom commented on #218
You mean, when you click the JS/HTML/CSS buttons, the caret should stay in the same place in the textbox?

[2016-08-14 22:25] mrjacobbloom commented on #243
We shouldn't just limit the available attributes to what's applicable. I'd rather give the user all of them and force them to learn what they actually do.

Also it's less work on our end

[2016-11-05 01:00] PolyEdge commented on #218
(Sorry, I had to bump...)
Why not just remove any invalid characters with a keydown callback?

[2016-11-05 05:35] mrjacobbloom commented on #218
_shrug_

[2016-12-29 19:33] CosmicWebServices commented on #204
You guys should continue on this
-@IcyCoder

[2016-12-29 20:58] PullJosh commented on #204
-@IcyCoder

Feel free to make a pull request if you'd like! :)

[2017-01-06 17:02] liam4 opened #246 "Mention quicktext button in tutorial?"
I'm not sure what the best way to do this is, maybe in a second part of the tutorial (so users can get familiar with the text block)?

[2017-01-06 17:02] towerofnix commented on #246
(Also idk if frontend is a good label or not)

[2017-01-06 19:01] matthewr6 commented on #246
@Airhogs777

[2017-01-06 20:23] mrjacobbloom commented on #246
Yeah, I was planning on updating the tutorial once we got the quicktext button merged in. I'll do it eventually 📦

[2017-01-07 02:21] matthewr6 commented on #246
wait when did I assign you

[2017-01-07 02:22] matthewr6 commented on #246
odd

[2017-01-07 02:22] #246 closed

[2017-01-07 02:34] mrjacobbloom commented on #246
It assigned me and added the label as soon as I mentioned it in a PR

[2017-01-07 19:03] joker314 commented on #243
I think that you should give bad attribute blocks a yellow-ish border, and a ⚠️ symbol is placed to the right of the block. When you click it, it shows you a picture of what you might mean, and what the attribute is usually used for, and if you click "Change" then it automatically replaces it.

For example, `img ( [href] = [google.com] )` then it might replace it with

[code]
and then put a warnin

[2017-01-07 19:08] mrjacobbloom commented on #243
We have that fixed in our staging ground, we just haven't pushed it to the main website yet

[2017-01-07 19:45] joker314 commented on #243
Ah, ok.

[2017-01-08 07:04] mrjacobbloom commented on #205
closing since we merged this in

[2017-01-08 07:04] #205 closed

[2017-04-07 21:52] mrjacobbloom opened #248 "Rework Blocks Code"
I guess we're back at it! Copied from [forum](https://scratch.mit.edu/discuss/topic/247667/?page=1#post-2542522):

somehow store block stacks in possibly another dict/hash map with keys of the id of the top block so that way we can combine stacks and stuff

[2017-04-11 00:07] iamunknown2 commented on #248
NP. Just don't get stuck in the Hurd loop:

![Good Code](https://imgs.xkcd.com/comics/good_code.png)

[2017-04-11 00:10] iamunknown2 commented on #248
Also, it's probably going to be a pretty annoying task, considering that we've even built a tutorial on top of Elemental already.

[2017-04-11 05:02] mrjacobbloom commented on #248
I'll make an effort to keep the HTML working exactly the same way, then the tutorial should continue to function. And worst case I can rework them too

[2017-04-11 19:35] mrjacobbloom commented on #248
I'm working on this

[2017-04-11 19:37] benajaero commented on #248
Just a question:
Why not just use blockly?

[2017-04-11 19:39] mrjacobbloom commented on #248
'cause I'm having too much fun doing it myself
also see #26

[2017-04-11 22:15] BookOwl commented on #248
pls don't
i was so immature and ridiculous.

[2017-04-11 22:20] mrjacobbloom commented on #248
lots of progress on this, it's still partially-done but I'm excited

[2017-04-11 22:21] mrjacobbloom commented on #248
i was so immature and ridiculous.

😈

[2017-04-11 22:23] BookOwl commented on #248
hey, I was 14. 'nuf said

[2017-04-11 23:24] matthewr6 commented on #248
What but you said you're 17 now

also I was also... different :P

[2017-04-11 23:38] BookOwl commented on #248
it was a couple months before i turned 15

or I was 15 and I just can't count :P

[2017-04-12 01:00] matthewr6 commented on #248
To be 17 now you were 16 by 4/11/2016 and 15 by 4/11/2015 :P

[2017-04-12 08:32] iamunknown2 commented on #248
Srsly though, wouldn't it be much faster if we just used Blockly? They even have a [block-making web interface](https://blockly-demo.appspot.com/static/demos/blockfactory/index.html)!
Edit: I've already made the h1 and text blocks in Blockly (took me about an hour to understand how Blockly works by going through docs and stuff, but development will be pretty quick after you go through the docs and

[2017-04-12 17:01] matthewr6 commented on #248
But it's *fun*

[2017-04-12 17:23] BookOwl commented on #248
And Elemental's blocks look better.

[2017-04-13 00:56] matthewr6 commented on #248
Thanks to... @PullJosh I think

[2017-04-13 00:59] iamunknown2 commented on #248
Can't we reskin the Blockly blocks?

Seriously, I think Blockly is the way to go here.

[2017-04-13 01:00] mrjacobbloom commented on #248
But I'm having fuuuuun and I'm most of the way done anyway

[2017-04-13 01:07] iamunknown2 commented on #248
I can probably finish most of the blocks very quickly (most of the blocks follow a similar template).

[2017-04-13 01:19] matthewr6 commented on #248
*fun* though

[2017-04-13 01:24] iamunknown2 commented on #248
We should do things the easiest and most standard way possible, not the most fun way possible.
Plus, aren't we sort of violating DRY (don't repeat yourself) when we re-invent the wheel when we could just *use* the wheel somebody has already invented?

[2017-04-13 01:24] mrjacobbloom commented on #248
I already have all of the blocks working fully, right now I'm working on file i/o

[2017-04-13 01:27] mrjacobbloom commented on #248
Plus, aren't we sort of violating DRY (don't repeat yourself) when we re-invent the wheel when we could just use the wheel somebody has already invented?

I feel like one of the unstated goals of this project was to have fun building it, if we wanted to do everything the most efficient way we would've started with a website template and Blockly and we never would've attempted a backend, but I also

[2017-04-13 01:36] iamunknown2 commented on #248
![Citation needed](https://imgs.xkcd.com/comics/wikipedian_protester.png)

If our goals of the project were to have fun building it, maybe we should have built our own browser to implement our site in machine code from the ground up.

Also, do you have any specs for your implementation of the object system so we can all use it?

[2017-04-13 01:59] iamunknown2 commented on #248
Hey, but your idea of fun is writing stuff from the ground up...

[2017-04-13 03:33] mrjacobbloom commented on #248
Let's stop squabbling and take it to a vote:
React 👍 for Blockly
React 👎 for #249
React ❤️ to keep the current system

[2017-04-13 04:13] matthewr6 commented on #248
Go ahead and finish the PR before writing specs because there's probably still potential for change :P  (assuming #249 is what we go with)

Also I really don't want to keep the current system because that stream-of-consciousness post I made caused me to realize the flaws the current system has... which would pretty much require a rewrite

The vote will provide the citation you request so I guess t

[2017-04-13 04:13] TheInitializer commented on #248
I can't react because mobile but

Fun

[2017-04-13 09:40] iamunknown2 commented on #248
It took some fiddling, but once I figured that the styling was put in `blockly/core/css.js` and the constants were put in `blockly/core/constants.js`, I put a white border around every block, changed the saturation and value of the CSV (which is hardcoded to keep things consistent, apparently) and changed up the background colors to create something like this:

![Elemental in Blockly](https://clou

[2017-04-13 10:44] iamunknown2 opened #250 "No scrolling for scripting area in Elemental"
See above (using Firefox 52 on Ubuntu Linux).

[2017-04-13 12:44] BookOwl commented on #248
still looks ugly.
(no offense to you, but blockly is inherently ugly, and unless you do something like scratch-blocks we can't do much about it.)

[2017-04-13 22:53] mrjacobbloom commented on #250
note: this is incompatible with tutorials

[2017-04-14 04:14] iamunknown2 commented on #250
The only glitch I see is the topBar being pushed upwards in the tutorial for some reason. Is that what you're talking about?

If that's the case, [this](https://github.com/usablica/intro.js/issues/182) might be helpful.

[2017-04-14 04:19] mrjacobbloom commented on #250
That's the issue I'm talking about. If the window is small enough that you have the blocks area scrolled during the tutorial, the lightbox doesn't line up with the highlighted element anymore.

Also, after this PR, dragged blocks seem to be be behind the palette again (a la #216)

We might wanna roll back #251 and try again (preferably after #249 is merged)? @Firedrake969

[2017-04-14 05:47] benajaero commented on #248
But you can style blockly anyway you want. Like scratch-blocks did

[2017-04-14 12:18] BookOwl commented on #248
But if we have to go to all that trouble just to get OK looking blocks it would be easier to just keep what we already have.

[2017-04-14 12:24] benajaero commented on #248
I understand it requires work but think about it.

Blockly gives you everything you need but only requires that you style it.
I personally think the benefits outweigh the cons.

[2017-04-14 16:46] matthewr6 commented on #248
not as far as we've seen

we've pretty much decided to go with #249 based on the vote of past and current contributors

[2017-04-16 03:51] TheInitializer commented on #248
Fun

[2017-04-16 07:24] iamunknown2 commented on #250
Anyone got any idea why the glitch occurs? Is it because of intro.js?

[2017-04-16 12:15] iamunknown2 commented on #250
It seems that the glitch occurs whenever the highlighting pane moves to the `<div class="rightSide introjs-showElement introjs-relativePosition">` section of the page.

[2017-04-16 17:52] mrjacobbloom commented on #250
Intro.js just can't handle scrolled panes, I don't know anything beyond that... but we could probably modify the intro.js code to take element scroll position into account

[2017-04-16 18:48] benajaero commented on #250
Why not put a container around it for introjs? Then introjs will just work on the container.

[2017-04-16 18:52] benajaero commented on #250
Is this the same issue?
https://github.com/usablica/intro.js/issues/210

[2017-04-17 02:06] iamunknown2 opened #254 "Tutorial broken even without scrolling"
I just discovered that the glitch (topBar is pushed up when tutorial focuses on the `rightSide` of the block editor) happens even when `overflow: visible;` is applied to `.scriptingArea`.

[2017-04-17 07:08] Airhogs777 opened #255 "[mockup] block and element highlighting"
I had an epiphany a couple hours ago and threw together this mockup:
![out](https://cloud.githubusercontent.com/assets/2879020/25081855/12f28bfe-230a-11e7-87d0-a8e742bb5b1e.gif)
I have code that works but it's dependent on #249 and could use some refinement

[2017-04-17 07:19] mrjacobbloom commented on #255
let me know what you think-- is this a direction you'd want to explore?

[2017-04-17 07:55] iamunknown2 commented on #255
Yep.
Perhaps you could push a fork of your repo branch (but containing this feature) to here?

[2017-04-17 11:57] iamunknown2 commented on #254
OK, it seems that an offset of 20px at the top solves the issue, but that hack-ish workaround is might prove a pain in the neck later on.

Also, using 20px as an offset seems to be a motif in intro.js. Hmm...

Edit: Ah whatever, I'm just going to do it the quick way for now.

[2017-04-17 14:40] PullJosh commented on #255
This looks nice! A few thoughts:
1) Make it toggleable (turn the feature on/off)
2) Highlight _both_ the element and the block, not one or the other.

Other than that, I'm loving this feature!

[2017-04-17 15:18] mrjacobbloom commented on #255
I pushed what I have to [Airhogs777/elemental:element-highlighting](https://github.com/Airhogs777/elemental/tree/element-highlighting) ([diff](https://github.com/Airhogs777/elemental/compare/rework-blocks...Airhogs777:element-highlighting)). Keep in mind that this is a really rough implementation and it'll need some work to do things like garbage collection

good ideas, I'll experiment with both

[2017-04-17 15:34] mrjacobbloom commented on #254
Oh wow, I didn't even notice that. Nice catch!

[2017-04-17 15:37] mrjacobbloom commented on #255
Aagh sorry, out of habit I pushed to my own repo instead of this one. When I create a PR it'll be on this repo

[2017-04-17 20:07] mrjacobbloom commented on #254
I bet intro.js is setting itself to the size of the workspace, which is the height of the window, plus its border or padding, which grows everything else. It probably needs a box-sizing:border-box somewhere

[2017-04-19 03:11] iamunknown2 opened #256 "Search-bar behind blocks"
Is this the intended behaviour?
If not, it is easily fixable by adding `z-index: 1;` to `#searchBar` in the CSS.

[2017-04-19 16:56] matthewr6 commented on #256
@Airhogs777

[2017-04-19 22:07] mrjacobbloom commented on #256
This seems like a fine change to make, since blocks being dragged still appear above the search box. But note that if the window is ever small enough for the search button to overlap with the blocks in the palette, then the expanded search box is cut off anyway

[2017-04-19 22:54] iamunknown2 commented on #254
OK, made a fix which creates another more minor bug.

[2017-04-19 23:23] matthewr6 commented on #254
yay programming

[2017-04-20 01:21] PullJosh commented on #254
![image](https://cloud.githubusercontent.com/assets/5458180/25208929/cbb02038-2545-11e7-8d80-14cbbaa1d444.png)

[2017-04-22 03:46] mrjacobbloom commented on #255
I deleted my elemental repo to simplify future PRs, the code for this is now in the branch element-highlighting on this repo

[2017-04-22 11:30] iamunknown2 commented on #256
OK - the PR for this feature is #260.

[2017-04-23 08:20] iamunknown2 commented on #255
Perhaps there should be rounded corners around the gold outline? `outline-radius` doesn't seem to be standardized, so maybe we should use `border` instead of `outline`?

[2017-04-23 16:45] mrjacobbloom commented on #255
Okay, I'll experiment with this a little when I have a free moment

[2017-05-03 01:17] #242 closed

[2017-05-03 01:17] #254 closed

[2017-05-05 03:39] mrjacobbloom commented on #248
closing since #258 was merged

[2017-05-05 03:39] #248 closed

[2017-05-05 03:41] mrjacobbloom commented on #217
they're the wrappers for any stack of blocks

[2017-05-05 03:41] #217 closed

[2017-05-05 03:43] mrjacobbloom commented on #23
Tutorials have been implemented for a while now

[2017-05-05 03:43] #23 closed

[2017-05-05 03:43] mrjacobbloom commented on #176
I don't believe this is still an issue. If it is we can open this back up

[2017-05-05 03:43] #176 closed

[2017-05-05 03:44] #206 closed

[2017-05-05 03:48] mrjacobbloom commented on #127
Resolved in #222

[2017-05-05 03:48] #127 closed

[2017-05-05 03:53] mrjacobbloom commented on #243
Resolving since #245 added more attributes

[2017-05-05 03:53] #243 closed

[2017-05-06 18:50] liam4 opened #265 "Dropping block while cursor is above another block doesn't hide trashcan in palette"
Dropping the block anywhere else works fine, though (even dropping the block outside of the scripting area).

[2017-05-06 18:52] liam4 opened #266 "Dropping block in palette only works when directly over trashcan – bad?"
Ideally we'd be able to simply drag a block to anywhere in the block palette and have it be deleted. That's how Scratch and just about every other block editor I've seen works.

..I think this would fit a "misfeature" tag well. 📦

[2017-05-06 23:19] mrjacobbloom commented on #266
+1

[2017-05-07 22:37] matthewr6 commented on #266
🔥 and 👎

[2017-05-11 10:26] iamunknown2 commented on #266
OK OK, it was my bad :fearful:

[2017-05-12 00:47] TheInitializer commented on #266
It's not a bug, it's a misfeature!

[2017-06-13 01:42] infinitytec opened #267 "Unable to open files"
The option to open files is present, yet the file selected does not open.

[2017-06-13 03:13] mrjacobbloom commented on #267
Are you trying to open a project file as downloaded from the editor, or an html file?

[2017-06-14 02:07] infinitytec commented on #267
Just an HTML file. Should I do the other? It isn't clear.

[2017-06-14 02:39] mrjacobbloom commented on #267
I believe file open is for project files, but we should add an error when the filetype is wrong and possibly an import feature